.cat-card {
  width: 65%;
  margin: 5px auto;
  box-shadow: 0 0 5px gray;
  .image-container {
    overflow: hidden;
    img {
      width: 100%;
      transition: transform 1s ease;
      height: inherit;
      display: block;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  .cat-card-body {
    padding: 1.25rem;
    p {
      font-weight: 600;
      margin: 10px;
      font-size: 1.25rem;
      span {
        font-style: italic;
        font-weight: normal;
        color: green;
      }
    }
  }
}
