body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  letter-spacing: 1.25px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 15px;
 
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #00f inset;
  background: linear-gradient(90deg, #8e54e9, #4776e6);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(97, 219, 251);
  border-radius: 10px;
}
